.button-primary {
  text-align: center;
  padding: 10px 35px;
  @include border-radius(3px);
}

.mini-button {
  margin: 10px;
  padding: 8px 15px;
  font-size: 0.5em;

  &:hover {
    border-bottom: 2px solid rgba($color-white, 0.5);
  }
  &.active {
    background-color: transparent;
    border-bottom: 2px solid $color-white;
  }
}